.footer {
  background-color: #163046;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content:space-around;
}

.footer-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.heading-item {
  flex: 1;
  text-align: center;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.follow-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.icon-link a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.icon-link a:last-child {
  margin-right: 0;
}

.icon-link p {
  color: white;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .footer-heading {
    flex-direction: column;
    align-items: center;
  }

  .heading-item {
    margin-bottom: 20px;
    text-align: center;
  }

  .icon-link {
    flex-direction: column;
    align-items: center;
  }
}
