/* Profile.css */

/* Styling by class name */

.profile-container {
  max-width: 500px;
  margin-bottom:60px;
  margin: 0 auto;
  margin-top:30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  animation: fadeIn 0.5s ease; /* Fade in animation */
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profile-form {
  margin-bottom: 20px;
}

.profile-form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.profile-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  transition: border-color 0.3s ease; /* Transition for border color */
}

.profile-input:focus {
  border-color: #007bff; /* Change border color on focus */
}

.profile-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for background color */
}

.profile-button:hover{
  background-color: #1261b6;
}

.profile-cancel-button {

  
    background-color: #cd0b1e;
   
 
}
.profile-submit-button-style{
  background-color: #0e7c1c;
}
.profile-details {
  margin-bottom: 20px;
  animation: slideIn 0.5s ease; /* Slide in animation */
}

.profile-details p {
  margin-bottom: 10px;
}

.profile-edit-button {
  
    background-color: #0e7c1c;
    color: #fff;
    cursor: pointer;
}

.profile-edit-button:hover{
  background-color: #1261b6;
}

/* Styling by ID */

#loading-message {
  font-style: italic;
  color: #888;
}

#error-message {
  color: #ff0000;
}

/* Keyframe animations */

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
