.rate-us-container-wrapper {
   
    position: relative; /* Ensure relative positioning */
}

.rate-us-container {
   
    margin-bottom:50px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: fadeInUp 0.5s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Initial box shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.rate-us-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Change box shadow on hover */
}

.rate-us-header {
    margin-bottom: 20px;
    animation: fadeIn 1s ease;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.rating input {
    display: none;
}

.star {
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for color and transform */
}

.submit-btn-rate {
    padding: 10px 20px;
    background-color: #0c5413;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for background color */
}

.submit-btn-rate:hover {
    background-color: #0056b3;
}

.thank-you-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(87, 228, 87);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rating label {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.1s ease, color 0.3s ease;
    transition: transform 0.1s ease, color 0.3s ease; /* Adjust transition duration */
}

.star:hover {
    transform: scale(1.2);
    color: #fdd835;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.thank-you-container {
    text-align: center;
    margin-top: 50px;
}

.greeting {
    font-size: 24px;
    color: #0c5413;
    animation: pulse 1s infinite alternate; /* Continuous pulse animation */
}

.message {
    font-size: 16px;
    color: rgb(233 85 166);;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
