/* General styles */
.rate-us-container-wrapper {
    position: relative; /* Ensure relative positioning */
}

.rate-us-container {
    margin-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: fadeInUp 0.5s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Initial box shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.rate-us-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Change box shadow on hover */
}

.rate-us-header {
    margin-bottom: 20px;
    animation: fadeIn 1s ease;
    color: #0c5413; /* Header color */
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.rating input {
    display: none;
}

.star {
    font-size: 30px; /* Adjust star size */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for color and transform */
}

.submit-btn-rate {
    padding: 10px 20px;
    background-color: #0c5413;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for background color */
}

.submit-btn-rate:hover {
    background-color: #0056b3;
}

.thank-you-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #57e457; /* Thank you message background color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rating label {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s ease, color 0.3s ease;
}

.star:hover {
    transform: scale(1.2);
    color: #fdd835;
}

/* Additional styles for the review section */
.review-textarea {
    width: 65%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
}
.explore-workshops-btn{
    padding:12px;
    color:white;
    background-color: green;
   
     border-radius:10px;
     border-style: none;
}
.explore-workshops-btn:hover{
    
    background-color: orange;
}
.rating-description {
    color: #0c5413; /* Description text color */
    margin-bottom: 10px;
}

/* Footer styles */
