/* Signup.css */

.signup-container {
  max-width: 400px;
  margin: 40px;
  padding: 20px;
  border: 1px solid #d2d9ed;
  border-radius: 5px;
  background-color: rgb(216, 216, 216, 0.85);
}

.headingStudentlogin {
  margin-top: 40px;
  margin-bottom: 45px;
}
#forminputs{
  width:80%;
  padding:10px;
  color:#910972;
  margin-left:25px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* .forminputs {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

button.loginbutn {
  width: 100%;
  padding: 10px;
  border: none;
  margin-top:15px;
  border-radius: 5px;
  background-color: #0e631d;
  color: #fff;
  cursor: pointer;
}

button.loginbutn:hover {
  background-color: #c36920;
}

.error {
  color: red;
}

p {
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.success-badge {
  background-color: #dff0d8; /* Greenish background color */
  color: #3c763d; /* Dark green text color */
  border: 1px solid #d6e9c6; /* Light green border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Padding around the text */
  margin-bottom: 20px; /* Spacing between badge and other elements */
}

.success-badge p {
  margin: 0; /* Remove default paragraph margin */
}
.error {
  color: red;
}

.message {
  color: rgb(24, 110, 24);
}